Include {{webserver_modsec_dir}}/modsecurity.conf
Include {{webserver_modsec_dir}}/coreruleset-{{crs_version}}/crs-setup.conf
Include {{webserver_modsec_dir}}/coreruleset-{{crs_version}}/plugins/*-config.conf
Include {{webserver_modsec_dir}}/coreruleset-{{crs_version}}/plugins/*-before.conf
Include {{webserver_modsec_dir}}/coreruleset-{{crs_version}}/plugins/*-after.conf
Include {{webserver_modsec_dir}}/coreruleset-{{crs_version}}/rules/*.conf
#Include {{webserver_modsec_dir}}/exception/ojs.conf
