Include /etc/nginx/modsec/modsecurity.conf
Include /etc/nginx/modsec/coreruleset-{{json_output.json.tag_name.replace('v', '')}}/crs-setup.conf
Include /etc/nginx/modsec/coreruleset-{{json_output.json.tag_name.replace('v', '')}}/plugins/*-config.conf
Include /etc/nginx/modsec/coreruleset-{{json_output.json.tag_name.replace('v', '')}}/plugins/*-before.conf
Include /etc/nginx/modsec/coreruleset-{{json_output.json.tag_name.replace('v', '')}}/plugins/*-after.conf
Include /etc/nginx/modsec/coreruleset-{{json_output.json.tag_name.replace('v', '')}}/rules/*.conf